{{- define "partials/head.html" -}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Attila Györffy" />
<meta name="fediverse:creator" content="@attila@fosstodon.org" />
<link rel="icon" type="image/svg+xml" id="favicon" href="/images/favicon-active.svg" />
<link rel="preload" href="/fonts/source-serif-4-latin.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/ibm-plex-mono.woff2" as="font" type="font/woff2" crossorigin />
<link rel="stylesheet" href="/stylesheets/tokens.css" />
<link rel="stylesheet" href="/stylesheets/fonts.css" />
<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/layout.css" />
<link rel="stylesheet" href="/stylesheets/theme.css" />
<style>:root { font-size: clamp(1rem, 0.85rem + 0.5vi, 2.25rem); }</style>
{{- end -}}
